<div>
    <div ng-if="comboPage =='comboInfo' ">
        <header class="bar bar-nav" style="position: relative;">
            <a class="pull-left" href="#/comboList/:{{cmb.SRVC_TP_ID}}" >
                <span class="icon icon-left-nav"></span>
            </a>
            <h1 class="title">详细信息</h1>
        </header>
        <ul class="table-view">
            <li class="table-view-cell cell-none" id="oneByOne" width="100%;">
                <img class="img-hero" src="{{'/public/images/combo/'+ cmb.CMB_PIC}}" id="oneByOne">
                <div style="z-index:100; position:relative; font-size:22px; padding:11px 15px; background-color:rgba(255,255,255,0.5); margin-top:-44px;">
                    <span class="text-brand">￥{{cmb.CMB_PRC}}</span>
                </div>
            </li>
            <li class="table-view-cell cell-symmetric">
                <div>
                    <label>{{cmb.CMB_NM}}</label>
                    <span class="tag tag-brand">{{cmb.SRVC_TP_NM}}</span>
                </div>
                <div>
                    <p class="text-lg text-gray-light">{{cmb.CMB_DSCRPT}}</p>
                </div>
            </li>
            <li class="table-view-cell cell-symmetric">
                <label class="text-xs text-gray-light">
                    {{hotel.HTL_NM}}
                </label>
                <label class="pull-right text-xs text-gray-light">
                    月售{{cmb.CMB_BGHT_TMS}}单
                </label>
            </li>
            <li class="table-view-cell cell-dim">
                <div class="pull-left text-xs" ng-repeat = "tag in Tags">
                    <span class="icon icon-check text-brand"></span>
                    <span class="text-gray-light">{{tag.TAG_NM}} &nbsp &nbsp &nbsp</span>
                </div>
            </li>
        </ul>
        <ul class="table-view card">
            <li class="table-view-cell card-item">
                <a class="info-address navigate-right" ng-click="pageChange(cmb.SRVC_TP_ID); nextChange('comboInfo')" >
                    <div class="pull-right"></div>
                    <p>服务选项</p> 
                    <p class="text-sm text-gray-light">点击查看详细选项</p>
                </a>
            </li>
        </ul>
        <ul class="table-view">
            <li class="table-view-cell cell-symmetric">
                <span class="text-md">{{cmb.CMB_DTL}}</span>
            </li>
            <li class="table-view-cell cell-symmetric table-text-group">
                <label class="text-md">提供商: </label>
                <span class="text-md">{{Merchant.MRCHNT_NM}}</span>
            </li>
            <li class="table-view-cell cell-symmetric table-text-group">
                <label class="text-md">联系电话: </label>
                <span class="text-md">{{Merchant.MRCHNT_PHN}}</span>
            </li>
        </ul>
    </div>
    <div ng-if="comboPage!='comboInfo'" >
        <header class="bar bar-nav" style="position: relative;">
            <a class="pull-left" ng-click="pageChange('comboInfo')">
                <span class="icon icon-left-nav"></span>
            </a>
            <h1 class="title">服务选项</h1>
        </header>
        <div ng-include="'/views/combo/serviceDetail.html' " ng-if="comboPage == '1' " ></div>
        <div ng-include="'/views/combo/serviceDetail.html' " ng-if="comboPage == '2' " ></div>
        <div ng-include="'/views/combo/shipDetail.html'" ng-if="comboPage == '3' " ></div>  <!-- should different Service type Id for different detail page in the future like 2,3,4 -->
        <div ng-include="'/views/combo/serviceDetail.html' " ng-if="comboPage == '4' " ></div> <!-- should different Service type Id for different detail page in the future like 2,3,4 -->
        <div ng-include="'/views/combo/serviceDetail.html' " ng-if="comboPage == '5' " ></div> <!-- should different Service type Id for different detail page in the future like 2,3,4 -->
        <div ng-include="'/views/combo/serviceDetail.html' " ng-if="comboPage == '6' " ></div> <!-- should different Service type Id for different detail page in the future like 2,3,4 -->
    </div>
</div>