<div id="cartConfirm" class="card">
    <h3><span class="icon icon-check"></span>下单成功!</h3>
    <ul>
        <li>交易号: {{orderInfo.tran_id}}</li>
        <li>消费总计: {{orderInfo.payInTotal}}</li>
        <li ng-if="paymethodSelected.PAY_MTHD_NM=='酒店挂账'">挂账房间: {{orderInfo.RM_ID}}</li>
    </ul>
    <div ng-repeat = "cmb in cart">
        <div>
            <label style="font-size:1.25em;">订单号:{{cmb.ORDR_ID}}</label>
            <label class="pull-right item-price" style="font-size:1.25em;">¥{{(cmb.CMB_PRC + cmb.CMB_TRANS_PRC)*cmb.AMNT}}</label>
        </div>
        <div class="item-name">{{cmb.CMB_NM}}</div>
        <label>{{cmb.datePartChineseString}}{{cmb.timePartChineseString}}</label>
        <div>
            <label>数量:{{cmb.AMNT}}</label>
            <label>{{cmb.MRCHNT_NM}}</label>
            <label class="pull-right">
                已预订
            </label>
        </div>
    </div>
    <button class="btn btn-primary btn-block" ng-click="cartDown()">
        返回商品列表
    </button>
</div>