<div ng-controller="cartCTLR" id="shoppingCart">
    <header class="bar bar-nav">
        <a class="icon icon-down-nav pull-right" ng-click="cartDown()"></a>
        <span ng-if="cartStage=='cartProducts'" class="title">
            <h1 class="title">购物车</h1>
        </span>
        <span ng-if="cartStage=='cartOrderInfo'" class="title">
            <a class="pull-left">
                <span class="icon icon-left-nav" ng-click="pageChange('cartProducts')" ></span>
            </a>
            <h1 class="title">信息填写</h1>
        </span>
        <span ng-if="cartStage=='confirm'" class="title">
            <h1 class="title">订单确认</h1>
        </span>
    </header>
    <div class="content">
        <div class="content-padded" ng-if="nowEmpty(cart)">
            <h5>哎呀！商品篮子现在还是空的。请选择商品，30分钟内送达房间！</h5>
            <button class="btn btn-disabled btn-block">请选择商品先</button>
        </div>
        <div ng-if="!nowEmpty(cart)" >
            <div ng-include="'/views/cart/cartProducts.html' " ng-if="cartStage=='cartProducts' " ></div>
            <div ng-include="'/views/cart/cartOrderInfo.html' " ng-show="cartStage=='cartOrderInfo' " ></div>
            <div ng-include="'/views/cart/cartConfirm.html' " ng-if="cartStage=='cartConfirm' " ></div>
        </div>
    </div>
    <nav class="bar bar-tab" ng-if="!nowEmpty(cart) && (cartStage=='cartProducts' || cartStage=='cartOrderInfo')" >
        <a ng-click="pageChange('cartOrderInfo')" ng-if="cartStage=='cartProducts'">
            <div class="pull-left">
                <p >商品总计:
                <span>¥<label render-label bindee="Limit(orderInfo.payInDue)"></label></span></p>
            </div>
            <button class="btn btn-primary pull-right" ng-class="cartButtonClass">去下单</button>
        </a>
        <a ng-click="submit()" ng-if="cartStage=='cartOrderInfo'">
                <div class="pull-left">
                    <p>确认支付:
                    <span><label render-label bindee="Limit(orderInfo.payInDue+orderInfo.transFee)"></label></span></p>
                </div>
                <button class="pull-right btn btn-primary" ng-class="cartButtonClass">
                    <span ng-hide ="paymethodSelected.PAY_MTHD_NM=='酒店挂账' && infoError!=0 && infoError!=null
            || recNoInfo == 'redBorder'">确认订单</span>
                    <span ng-if="paymethodSelected.PAY_MTHD_NM=='酒店挂账' && infoError!=0 && infoError!=null
            || recNoInfo == 'redBorder'" >请补全信息后确认</span>
                </button>
        </a>
    </nav>
</div>

